*{
	box-sizing: border-box;
	margin:0;
}
body{
	font:16px;
	margin: 0;
}


a{
	text-decoration: none;
}
/********************************/
/*		style HAUT			 */
header{
	background: #000000;
	padding: 15px;
	text-align: center;
}

header nav ul li{
	display:inline;
}
ul li{
	padding: 10px;
}
header a{
	color:#ffffff;
	text-decoration: none;
	padding:5px 5px;
}

header nav a:hover{
	background: #eeeeee;
	color:black;

}


#search{
	padding: 5px;
	width: 400px;
}

/*********************************/
/* 			BAS				*/
footer{
	background: #000;
	color : white;
	text-align: center;
	padding: 7px 0;

}


/*DEBUT EDOUARD*/

	/* Page haut */
	.conteneur
	{
		margin:0;
		width: 1170px;
	}

	/* Page acceuil */
	#formGauchePageAccueil
	{
		width: 25%;
	}

	#partiePrincipalePageAccueil
	{
		width: 75%;
	}

	/* Page acceuil et fiche annonce */
	.conteneurFlex
	{
		display: flex;
	}

	/* Page fiche annonce */

	#titrePageFicheAnnonce
	{
		margin-left: 300px;
	}

	iframe
	{
		width:100%;
	}

	.conteneurFlex > img
	{
		margin-right: 15px;
	}

	#infosProduitPageFicheAnnonce li
	{
		display: inline-block;
		margin-right: 30px;
	}
	
	#autresAnnonces
	{
		display: flex;
    	justify-content: space-around;
    	background: #F5F5F5;
    	margin-bottom: 20px;
	}

	#liensEnBas
	{
		display: flex;
    	justify-content: space-between;
       	background: #F5F5F5;
     	margin-bottom: 20px;
     	padding: 10px;
	}

/*FIN EDOUARD*/

/**************************/
/* FORMULAIRES  */

form{
	width: 390px;
	margin: 25px auto;
	padding: 15px;
	border: 1px solid #222;

}
form> input{
	width: 100%;
	height: 35px;
	padding: 3px;
}
form > input[type="submit"]{
	border-radius: 4px;
	background: #222;
	color:white;
	border: 0;
}
/*************************/
/* gestion messages success ou error via la variable $content */
.erreur{
	background: #ff0000;
	padding: 10px;
	margin: 5px;
}

.validation{
	background: #669933;
	padding: 5px;
	margin: 5px;
}

